<form id="comment" action="/comment" method="POST">
<div class="form-floating">
  <input name="comment1" class="form-control" placeholder="Leave a comment here" id="floatingTextarea">
  <label for="floatingTextarea">Comments</label>
  <button type="submit" class="btn btn-primary">Отправить комментарий</button>
</div>
</form>
