#map {
  width: 1400px;
  height: 500px;
  position: absolute;
}

.adminCab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


[class*="copyrights-pane"] {
  display: none !important;
}

.balloon_address {
  color: #f50000;
}

[class*="balloon__close-button"] {
  opacity:1;
}

#teaPage {
  width: 35%;
}

