#map {

  /* width: 100%; */
  height: 600px;
  /* position: absolute; */
}

[class*="copyrights-pane"] {
  display: none !important;
}

.balloon_address {
  color: #f50000;
}

[class*="balloon__close-button"] {
  opacity:1;
}

#teaPage {
  width: 35%;
}

